  <app-nav-bar2></app-nav-bar2>

  <ion-content id="main-content" scroll-y="true">
    <app-nav-bar></app-nav-bar>

    <div class="Frame1" style="width: 330px; height: 551px; left: 0px; top: 0px; position: absolute">
      <ion-grid class="grid-container">

        <ion-card class="Frame1" style="width: 315px; height: 551px; left: 10px; top: 75px; position: absolute">

          <ion-card style="width: 296px; height: 32px; left: 1px; top: 11px; position: absolute;">
            <p style="text-align: center;">
              ID: {{ no_servicio }}
            </p>
          </ion-card>

          <ion-card style="width: 296px; height: 32px; left: 1px; top: 50px; position: absolute;">
            <p style="text-align: center;">
              {{ nombre_afiliado }}
            </p>
          </ion-card>

          <ion-label class="Proceso" style="left: 138px; top: 110px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Proceso</ion-label>
          
          <ion-progress-bar [value]="progress" style="width: 286px; height: 25px; left: 13px; top: 140px; position: absolute;"></ion-progress-bar>
          
          <ion-label class="Contacto" style="left: 5px; top: 175px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contacto</ion-label>
          <ion-label class="Cotizacion" style="left: 60px; top: 175px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">Cotizacion</ion-label>
          <ion-label class="ConfirmacionCotizacion" style="left: 130px; top: 175px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">Confirmacion<br>&nbsp;&nbsp;Cotizacion</ion-label>
          <ion-label class="TrabajoEnCurso" style="left: 210px; top: 175px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">Trabajo<br>&nbsp;&nbsp;&nbsp;&nbsp;en<br>&nbsp;Curso</ion-label>
          <ion-label class="Terminado" style="left: 260px; top: 175px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">Terminado</ion-label>
          
          <ion-button class="Whatsapp" style="left: 70px; top: 230px; position: absolute; color: white;" color="success"
            [routerLink]="['/message']">
            <ion-icon name="logo-whatsapp"></ion-icon>
            <p style="margin-left: 0.3em;">
              Enviar Mensaje
            </p>
          </ion-button>

          <ion-button class="Llamar" style="left: 110px; top: 280px; position: absolute; color: white;" color="warning"
            href="tel:{{ telefono }}">
            <ion-icon name="call-outline"></ion-icon>
            <p style="margin-left: 0.3em;">
              Llamar
            </p>
          </ion-button>

          <ion-button class="Ordenes" style="left: 103px; top: 330px; position: absolute; color: white;" color="warning"
            [routerLink]="['/orders']">
            <ion-icon name="reader-outline"></ion-icon>
            <p style="margin-left: 0.3em;">
              Ordenes
            </p>
          </ion-button>
          
        </ion-card>

      </ion-grid>
    </div>
  </ion-content>