<ion-menu contentId="main-content" type="push" side="end" style="--width: 130px;">
  <ion-content class="ion-padding">
    <ion-button class="menu-button" [routerLink]="['/nav']">Perfil</ion-button>
    <ion-button class="menu-button" [routerLink]="['/']" routerLinkActive="router-link-active" >Mensajes</ion-button>
    <ion-button class="menu-button">Ver Mas</ion-button>
    <ion-button class="menu-button">Menu</ion-button>
    <ion-menu-toggle auto-hide="false">
      <ion-button class="menu-button">X</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>


  <ion-content id="main-content" scroll-y="true">
    <div class="Logo">
      <ion-back-button defaultHref="/" style="margin-right: -5%;margin-left: -10%;"></ion-back-button>
      <img src="https://i.imgur.com/mpHMg1E.png" alt="Banner">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button class="SquareButton" fill="clear">
            <ion-icon name="person-outline" size="large"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </div>
    <div class="Frame2">
      <ion-grid class="grid-container">
  <ion-card style="margin-top: -4%;">
    <ion-card-header>
      <ion-card-title class="profesion">{{ afiliado1?.profesion }}</ion-card-title>
      <br>
      <ion-card-subtitle class="nombre">{{ afiliado1?.nombre_afiliado }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="width:300px; height: 100px;">
      <img class="Ellipse1" src="https://i.imgur.com/G99ruzr.jpg" alt="" [routerLink]="['/profile']">
      <ion-label class="certificaciones">Certificaciones</ion-label>
      <div class="medals">
        <ion-icon name="cloud-offline-outline" class="medal-icon"></ion-icon>
        <ion-icon name="flame-outline" class="medal-icon" style="color: red;"></ion-icon>
        <ion-icon name="medal-outline" class="medal-icon" style="color: red;"></ion-icon>
      </div>
      <ion-label class="calificacion">Calificación</ion-label>
      <div class="rating">
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected}" (click)="selectStar(1)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected}" (click)="selectStar(2)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected}" (click)="selectStar(3)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected}" (click)="selectStar(4)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected}" (click)="selectStar(5)"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="profesion">{{ afiliado2?.profesion }}</ion-card-title>
      <br>
      <ion-card-subtitle class="nombre">{{ afiliado2?.nombre_afiliado }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="width:300px; height: 100px;">
      <img class="Ellipse1" src="https://i.imgur.com/f4RKmhj.jpg" alt="" [routerLink]="['/profile2']">
      <ion-label class="certificaciones">Certificaciones</ion-label>
      <div class="medals">
        <ion-icon name="cloud-offline-outline" class="medal-icon" style="color: red;"></ion-icon>
        <ion-icon name="flame-outline" class="medal-icon" style="color: red;"></ion-icon>
        <ion-icon name="medal-outline" class="medal-icon" style="color: red;"></ion-icon>
      </div>
      <ion-label class="calificacion">Calificación</ion-label>
      <div class="rating">
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected2}" (click)="selectStar(1)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected2}" (click)="selectStar(2)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected2}" (click)="selectStar(3)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected2}" (click)="selectStar(4)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected2}" (click)="selectStar(5)"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="profesion">Profesión</ion-card-title>
      <br>
      <ion-card-subtitle class="nombre">Nombre</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="width:300px; height: 100px;">
      <img class="Ellipse1" src="https://i.imgur.com/htTNKsG.jpg" alt="">
      <ion-label class="certificaciones">Certificaciones</ion-label>
      <div class="medals">
        <ion-icon name="cloud-offline-outline" class="medal-icon" style="color: red;"></ion-icon>
        <ion-icon name="flame-outline" class="medal-icon"></ion-icon>
        <ion-icon name="medal-outline" class="medal-icon" style="color: red;"></ion-icon>
      </div>
      <ion-label class="calificacion">Calificación</ion-label>
      <div class="rating">
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected3}" (click)="selectStar(1)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected3}" (click)="selectStar(2)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected3}" (click)="selectStar(3)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected3}" (click)="selectStar(4)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected3}" (click)="selectStar(5)"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="profesion">Profesión</ion-card-title>
      <br>
      <ion-card-subtitle class="nombre">Nombre</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="width:300px; height: 100px;">
      <img class="Ellipse1" src="https://i.imgur.com/YJEDO3X.jpg" alt="">
      <ion-label class="certificaciones">Certificaciones</ion-label>
      <div class="medals">
        <ion-icon name="cloud-offline-outline" class="medal-icon"></ion-icon>
        <ion-icon name="flame-outline" class="medal-icon" style="color: red;"></ion-icon>
        <ion-icon name="medal-outline" class="medal-icon"></ion-icon>
      </div>
      <ion-label class="calificacion">Calificación</ion-label>
      <div class="rating">
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected4}" (click)="selectStar(1)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected4}" (click)="selectStar(2)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected4}" (click)="selectStar(3)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected4}" (click)="selectStar(4)"></ion-icon>
        <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected4}" (click)="selectStar(5)"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-grid>    
</div>
</ion-content>
