<app-nav-bar2></app-nav-bar2>

  <ion-content id="main-content" scroll-y="true">
      <app-nav-bar></app-nav-bar>
  <div class="Frame2">
  <ion-grid class="grid-container">
    <ion-card style="margin-top: -4%;">
      <ion-card-header>
        <ion-card-title class="profesion">{{ afiliado1?.profesion }}</ion-card-title>
        <br>
        <ion-card-subtitle class="nombre">{{ afiliado1?.nombre_afiliado }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="width:300px; height: 100px;">
        <img class="Ellipse1" src="{{ afiliado1?.img }}" alt="" [routerLink]="['/profile', { id: 1 }]">
        <ion-label class="certificaciones">Certificaciones</ion-label>
        <div class="medals">
          <ion-icon name="cloud-offline-outline" class="medal-icon"></ion-icon>
          <ion-icon name="flame-outline" class="medal-icon" style="color: red;"></ion-icon>
          <ion-icon name="medal-outline" class="medal-icon" style="color: red;"></ion-icon>
        </div>
        <ion-label class="calificacion">Calificación</ion-label>
        <div class="rating">
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected}" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="profesion">{{ afiliado2?.profesion }}</ion-card-title>
        <br>
        <ion-card-subtitle class="nombre">{{ afiliado2?.nombre_afiliado }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="width:300px; height: 100px;">
        <img class="Ellipse1" src="{{ afiliado2?.img }}" alt="" [routerLink]="['/profile', { id: 2 }]">
        <ion-label class="certificaciones">Certificaciones</ion-label>
        <div class="medals">
          <ion-icon name="cloud-offline-outline" class="medal-icon" style="color: red;"></ion-icon>
          <ion-icon name="flame-outline" class="medal-icon" style="color: red;"></ion-icon>
          <ion-icon name="medal-outline" class="medal-icon" style="color: red;"></ion-icon>
        </div>
        <ion-label class="calificacion">Calificación</ion-label>
        <div class="rating">
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected2}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected2}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected2}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected2}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected2}" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="profesion">{{afiliado3?.profesion}}</ion-card-title>
        <br>
        <ion-card-subtitle class="nombre">{{afiliado3?.nombre_afiliado}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="width:300px; height: 100px;">
        <img class="Ellipse1" src="https://i.imgur.com/htTNKsG.jpg" alt="" [routerLink]="['/profile', { id: 3 }]">
        <ion-label class="certificaciones">Certificaciones</ion-label>
        <div class="medals">
          <ion-icon name="cloud-offline-outline" class="medal-icon" style="color: red;"></ion-icon>
          <ion-icon name="flame-outline" class="medal-icon"></ion-icon>
          <ion-icon name="medal-outline" class="medal-icon" style="color: red;"></ion-icon>
        </div>
        <ion-label class="calificacion">Calificación</ion-label>
        <div class="rating">
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected3}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected3}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected3}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected3}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected3}" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="profesion">Profesión</ion-card-title>
        <br>
        <ion-card-subtitle class="nombre">Nombre</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="width:300px; height: 100px;">
        <img class="Ellipse1" src="https://i.imgur.com/YJEDO3X.jpg" alt="" [routerLink]="['/profile', { id: 4 }]">
        <ion-label class="certificaciones">Certificaciones</ion-label>
        <div class="medals">
          <ion-icon name="cloud-offline-outline" class="medal-icon"></ion-icon>
          <ion-icon name="flame-outline" class="medal-icon" style="color: red;"></ion-icon>
          <ion-icon name="medal-outline" class="medal-icon"></ion-icon>
        </div>
        <ion-label class="calificacion">Calificación</ion-label>
        <div class="rating">
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star1Selected4}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star2Selected4}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star3Selected4}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star4Selected4}" ></ion-icon>
          <ion-icon name="star" [ngClass]="{'star-icon': true, 'selected': star5Selected4}" ></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-grid>    
  </div>
</ion-content>
