<ion-content class="AndroidSmall1" style="width: 360px; height: 667px; position: relative; background: white">
  <ion-menu contentId="main-content" type="push" side="end" style="--width: 130px;">
    <ion-content class="ion-padding">
      <ion-button class="menu-button" [routerLink]="['/nav']">Perfil</ion-button>
      <ion-button class="menu-button" [routerLink]="['/']" routerLinkActive="router-link-active" >Mensajes</ion-button>
      <ion-button class="menu-button">Ver Mas</ion-button>
      <ion-button class="menu-button">Menu</ion-button>
      <ion-menu-toggle auto-hide="false">
        <ion-button class="menu-button">X</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-content id="main-content" scroll-y="true">
    <div class="Logo">
        <ion-back-button defaultHref="/" style="margin-right: -5%;margin-left: -10%;"></ion-back-button>
        <img src="https://i.imgur.com/mpHMg1E.png" alt="Banner">
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button class="SquareButton" fill="clear">
            <ion-icon name="person-outline" size="large"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </div>

    <div class="Frame1" style="width: 330px; height: 551px; left: 12.5px; top: 83px; position: absolute">
      <ion-grid class="grid-container">

        <ion-card style="height: 4.5em;">
          <ion-input placeholder="Asunto" style="margin-left: 1em; width: 275px;">
          </ion-input>
        </ion-card>

        <ion-card style="height: 25em;">
          <ion-textarea placeholder="Mensaje" style="margin-left: 1em; height: 22em; width: 275px;">
          </ion-textarea>
        </ion-card>

        <ion-button style="margin-left: 5.5em;" color="success">
          <ion-icon name="logo-whatsapp"></ion-icon>
          <p style="margin-left: 0.3em;">
            Enviar Mensaje
          </p>
        </ion-button>

        <ion-button style="margin-left: 8em;" color="warning">
          <ion-icon name="call-outline"></ion-icon>
          <p style="margin-left: 0.3em;">
            Llamar
          </p>
        </ion-button>

      </ion-grid>
    </div>
  </ion-content>
</ion-content>