<app-nav-bar2></app-nav-bar2>

<ion-content id="main-content" scroll-y="true">
  <app-nav-bar></app-nav-bar>
  <ion-content class="ion-padding">
    <ion-card>
      <div class="profile-image">
        <img src="https://i.imgur.com/lEhgbUA.jpg" alt="Foto de perfil" />
      </div>
      <ion-card-header>
        <ion-card-title> </ion-card-title>
        <ion-card-subtitle>Usuario - 5142</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Nombre:" value="Dominos Pizza" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Direccion:" value="Calle 44 #321" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Telefono:" value="9991212423" readonly></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button style="margin-left: 8em;" [routerLink]="['/orders']">Ordenes</ion-button>
  </ion-content>
</ion-content>
