<app-nav-bar2></app-nav-bar2>

<ion-content id="main-content" scroll-y="true">
  <app-nav-bar></app-nav-bar>
  <ion-content class="ion-padding">
    <ion-card>
      <div class="profile-image">
        <img src="{{ img }}" alt="Foto de perfil" />
      </div>
      <ion-card-header>
        <ion-card-title> </ion-card-title>
        <ion-card-subtitle>Usuario - {{ id_usuario }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Nombre:" value="{{ nombre }}" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Direccion:" value="{{ direccion }}" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Telefono:" value="{{ telefono }}" readonly></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button style="margin-left: 8em;" [routerLink]="['/orders']">Ordenes</ion-button>
  </ion-content>
</ion-content>
