<app-nav-bar2></app-nav-bar2>

<ion-content id="main-content" scroll-y="true">
  <app-nav-bar></app-nav-bar>
  <ion-content class="ion-padding">
    <ion-card>
      <div class="profile-image">
        <img src="https://i.imgur.com/lEhgbUA.jpg" alt="Foto de perfil" />
      </div>
      <ion-card-header>
        <ion-card-title> </ion-card-title>
        <ion-card-subtitle>Usuario - 5142</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label>Nombre -</ion-label>
          <ion-input value="Dominos Pizza" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección -</ion-label>
          <ion-input value="Calle 44 #321" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono - </ion-label>
          <ion-input value="9991212423" readonly></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
