<div class="AndroidSmall1" style="width: 360px; height: 667px; position: relative; background: white">
  <div class="Rectangle10" style="width: 248px; height: 67px; left: 36px; top: 11px; position: absolute; background: #D9D9D9"></div>
  <div class="Logo" style="width: 64px; height: 18px; left: 128px; top: 27px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logo</div>
  <div class="Ellipse2" style="width: 58px; height: 67px; left: 289px; top: 11px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
  <ion-back-button defaultHref="/" style="margin-left: 0%;margin-left: 0%;"></ion-back-button>
  <div class="Frame1" style="width: 315px; height: 551px; left: 23px; top: 83px; position: absolute">
    <div class="FotoPerfil" style="width: 192px; height: 192px; left: 59px; top: 11px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <div class="Clasificacion" style="width: 315px; height: 27px; left: 0px; top: 280px; position: absolute; background: #AB8989"></div>
    <div class="NombreAfiliado" style="width: 315px; height: 52px; left: 0px; top: 228px; position: absolute; background: #D9D9D9"></div>
    <div class="AreaDeServicio" style="width: 315px; height: 73px; left: 0px; top: 308px; position: absolute; background: #D9D9D9"></div>
    <div class="Calificaciones" style="width: 315px; height: 73px; left: 0px; top: 478px; position: absolute; background: #C9A5A5"></div>
    <div class="831Valoraciones" style="left: 50px; top: 506px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">4.8 (31 Valoraciones)</div>
    <div class="HorarioDeServicio" style="width: 315px; height: 38px; left: 0px; top: 381px; position: absolute; background: #B59393"></div>
    <div class="BannerPromocional" style="width: 315px; height: 58px; left: 0px; top: 420px; position: absolute; background: #D9D9D9"></div>
    <div class="ProfileImg" style="left: 95px; top: 93px; position: absolute; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Profile Img</div>
    <div class="ObtenUnCostoDeEnvioDe0Mxn5MenosPruebaChambitasOneParaAhorrarEnServiciosQueCumplanConLosRequisitos" style="left: 50px; top: 423px; position: absolute; color: black; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Obten un costo de envio de 0 MXN     + 5% menos     Prueba Chambitas One+ para ahorrar en    servicios que cumplan con los requisitos</div>
    <div class="ServicioDe9AmA10Pm" style="left: 50px; top: 392px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Servicio de 9 am a 10 pm</div>
    <div class="AvFundadores4CampecheCampeche24014" style="width: 166px; left: 50px; top: 319px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Av.Fundadores 4    Campeche,Campeche    24014</div>
    <div class="PlomeriaServicios" style="left: 13px; top: 285px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Plomeria - Servicios - $$</div>
    <div class="LittleCaesarsFundadores" style="left: 13px; top: 246px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Little Caesars (Fundadores)<br/></div>
    <div class="IconsaxLinearLocation" style="width: 24px; height: 24px; left: 13px; top: 333px; position: absolute">
      <div class="Vector" style="width: 6.24px; height: 6.24px; left: 8.88px; top: 7.19px; position: absolute; border: 0.75px black solid"></div>
      <div class="Vector" style="width: 17.25px; height: 20px; left: 3.38px; top: 2px; position: absolute; border: 0.75px black solid"></div>
    </div>
    <div class="IconsaxLinearCopy" style="width: 24px; height: 24px; left: 280px; top: 328px; position: absolute">
      <div class="Vector" style="width: 14px; height: 14px; left: 2px; top: 8px; position: absolute; border: 0.75px black solid"></div>
      <div class="Vector" style="width: 14px; height: 14px; left: 8px; top: 2px; position: absolute; border: 0.75px black solid"></div>
    </div>
    <div class="IconsaxLinearClock" style="width: 24px; height: 24px; left: 13px; top: 388px; position: absolute">
      <div class="Vector" style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; border: 0.75px black solid"></div>
      <div class="Vector" style="width: 4.08px; height: 7.67px; left: 11.63px; top: 7.51px; position: absolute; border: 0.75px black solid"></div>
    </div>
    <div class="IconsaxLinearAdd" style="width: 24px; height: 24px; left: 280px; top: 387px; position: absolute">
      <div class="Vector" style="width: 12px; height: 12px; left: 6px; top: 6px; position: absolute; border: 0.75px black solid"></div>
    </div>
    <div class="IconsaxLinearStar1" style="width: 24px; height: 24px; left: 13px; top: 502px; position: absolute">
      <div class="Vector" style="width: 20px; height: 19.84px; left: 2px; top: 2.08px; position: absolute; border: 0.75px black solid"></div>
    </div>
    <div class="IconsaxLinearShoppingbag" style="width: 24px; height: 24px; left: 13px; top: 437px; position: absolute">
      <div class="Vector" style="width: 17.05px; height: 15.50px; left: 3.48px; top: 6.50px; position: absolute; border: 0.75px black solid"></div>
      <div class="Vector" style="width: 12.41px; height: 15.03px; left: 8px; top: 2px; position: absolute; border: 0.75px black solid"></div>
    </div>
  </div>
</div>