<ion-content class="AndroidSmall1" style="width: 360px; height: 667px; position: relative; background: white">
  <ion-menu contentId="main-content" type="push" side="end" style="--width: 130px;">
    <ion-content class="ion-padding">
      <ion-button class="menu-button" [routerLink]="['/nav']">Perfil</ion-button>
      <ion-button class="menu-button" [routerLink]="['/']" routerLinkActive="router-link-active" >Mensajes</ion-button>
      <ion-button class="menu-button">Ver Mas</ion-button>
      <ion-button class="menu-button">Menu</ion-button>
      <ion-menu-toggle auto-hide="false">
        <ion-button class="menu-button">X</ion-button>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  
  <ion-content id="main-content" scroll-y="true">
  <div class="Logo">
      <ion-back-button defaultHref="/" style="margin-right: -5%;margin-left: -10%;"></ion-back-button>
      <img src="https://i.imgur.com/mpHMg1E.png" alt="Banner">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button class="SquareButton" fill="clear">
          <ion-icon name="person-outline" size="large"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </div>
  <div class="Frame1" style="width: 315px; height: 551px; left: 23px; top: 83px; position: absolute">
    <ion-grid class="grid-container">
      <img class="FotoPerfil" src="https://i.imgur.com/G99ruzr.jpg" alt="">
        <ion-card class="NombreAfiliado">
          <ion-title class="LittleCaesarsFundadores">Little Caesars (Fundadores)</ion-title>
        </ion-card>
        <ion-card class="Clasificacion">
          <ion-title class="TextoClasificacion">Plomeria - Servicios - $$</ion-title>
        </ion-card>
        <ion-card class="AreaDeServicio">
          <ion-title class="TextoArea">Av.Fundadores 4    Campeche,Campeche    24014</ion-title>
        </ion-card>
        <div class="Calificaciones" style="width: 315px; height: 73px; left: 0px; top: 478px; position: absolute; background: #C9A5A5"></div>
        <div class="831Valoraciones" style="left: 50px; top: 506px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">4.8 (31 Valoraciones)</div>
        <div class="HorarioDeServicio" style="width: 315px; height: 38px; left: 0px; top: 381px; position: absolute; background: #B59393"></div>
        <div class="BannerPromocional" style="width: 315px; height: 58px; left: 0px; top: 420px; position: absolute; background: #D9D9D9"></div>
        <div class="ObtenUnCostoDeEnvioDe0Mxn5MenosPruebaChambitasOneParaAhorrarEnServiciosQueCumplanConLosRequisitos" style="left: 50px; top: 423px; position: absolute; color: black; font-size: 11px; font-family: Inter; font-weight: 400; word-wrap: break-word">Obten un costo de envio de 0 MXN     + 5% menos     Prueba Chambitas One+ para ahorrar en    servicios que cumplan con los requisitos</div>
        <div class="ServicioDe9AmA10Pm" style="left: 50px; top: 392px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Servicio de 9 am a 10 pm</div>
        <div class="AvFundadores4CampecheCampeche24014" style="width: 166px; left: 50px; top: 319px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word"></div>
        <div class="IconsaxLinearLocation" style="width: 24px; height: 24px; left: 13px; top: 333px; position: absolute">
          <ion-icon name="location-outline" class="side-icons"></ion-icon>
        </div>
        <div class="IconsaxLinearCopy" style="width: 24px; height: 24px; left: 280px; top: 328px; position: absolute">
          <ion-icon name="copy-outline" class="side-icons"></ion-icon>
        </div>
        <div class="IconsaxLinearClock" style="width: 24px; height: 24px; left: 13px; top: 388px; position: absolute">
          <ion-icon name="time-outline" class="side-icons"></ion-icon>
        </div>
        <div class="IconsaxLinearAdd" style="width: 24px; height: 24px; left: 280px; top: 387px; position: absolute">
          <ion-icon name="add-circle-outline" class="side-icons"></ion-icon>
        </div>
        <div class="IconsaxLinearStar1" style="width: 24px; height: 24px; left: 13px; top: 502px; position: absolute">
          <ion-icon name="star-outline" class="side-icons"></ion-icon>
        </div>
        <div class="IconsaxLinearShoppingbag" style="width: 24px; height: 24px; left: 13px; top: 437px; position: absolute">
          <ion-icon name="bag-handle-outline" class="side-icons"></ion-icon>
        </div>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>
