.Frame1 {
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.busqueda {
  width: 100%;
  height: 57px;
  margin-top: 5%;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px black solid;
}

.Logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 240px;
  text-align: center;
  margin-top: 45%;
}

.SquareButton {
  width: 56px;
  height: 56px;
  margin-left: 20%;
  background-color: transparent;
  border: 1px solid black;
  background: #f4f2f2;
  border-radius: 50%;
}

.banner1,
.banner2 {
  width: 100%;
  height: 150px;
  margin-top: 0em;
  background: #D9D9D9;
}

.botones {
  margin-top: 5%;
}

.ion-padding {
  width: 120px;
}

.menu-button {
  width: 120%;
  text-align: left;
}

.resultados-busqueda {
  position: fixed;
  top: 160px;
  left: 30px;
  right: 30px;
  background-color: #fff; /* Color de fondo */
  z-index: 999; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra */
}