<ion-menu contentId="main-content" type="push" side="end" style="--width: 130px;">
  <ion-content class="ion-padding">
    <ion-button class="menu-button" [routerLink]="['/nav']">Perfil</ion-button>
    <ion-button class="menu-button" [routerLink]="['/']" routerLinkActive="router-link-active" >Mensajes</ion-button>
    <ion-button class="menu-button">Ver Mas</ion-button>
    <ion-button class="menu-button">Menu</ion-button>
    <ion-menu-toggle auto-hide="false">
      <ion-button class="menu-button">X</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-content [fullscreen]="true" scroll-y="true" id="main-content">
  <div class="Frame1">
    <ion-grid class="grid-container">
      <!--<app-nav-bar></app-nav-bar>-->
      <div class="Logo">
        <img src="https://i.imgur.com/mpHMg1E.png" alt="Banner">
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button class="SquareButton" fill="clear">
              <ion-icon name="person-outline" size="large"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
      </div>
      <ion-searchbar class="busqueda" placeholder="Buscar"></ion-searchbar>
      <div class="botones">
        <ion-row>
          <ion-col>
            <ion-button expand="full" class="computo" [routerLink]="['/computo']">
              Computo
              <ion-icon slot="end" name="desktop-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" class="limpieza">
              Limpieza
              <ion-icon slot="end" name="brush-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" class="albañileria">
              Albañileria
              <ion-icon slot="end" name="hammer-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" class="refrigeracion">
              Refrigeracion
              <ion-icon slot="end" name="snow-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" class="automotriz">
              Automotriz 
              <ion-icon slot="end" name="car-sport-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" class="plomeria">
              Plomeria
              <ion-icon slot="end" name="water-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" class="electricidad">
              Electricidad
              <ion-icon slot="end" name="flash-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="full" class="electronica">
              Electronica
              <ion-icon slot="end" name="battery-half-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>
      <div class="banner1"></div>
      <div class="banner2"></div>
    </ion-grid>    
  </div>
</ion-content>