<ion-content [fullscreen]="true">
  <div class="Frame1">
    <ion-grid style="padding-top:15em">
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="Rectangle1">Computo</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="Rectangle8">Limpieza</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="Rectangle7">Albañileria</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="Rectangle6">Refrigeracion</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="Rectangle5">
            Automotriz 
            <ion-icon slot="end" name="car-sport-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="Rectangle4">
            Plomeria
            <ion-icon slot="end" name="water-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full" class="Rectangle3">
            Electricidad
            <ion-icon slot="end" name="flash-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" class="Rectangle2">Electronica</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>    
    <ion-searchbar class="Rectangle9" placeholder="Buscar"></ion-searchbar>
    <div class="Logo">
      <img src="https://i.imgur.com/mpHMg1E.png" alt="Banner">
    </div>
    <ion-button class="SquareButton" fill="clear">
      <ion-icon name="person-outline" size="large"></ion-icon>
    </ion-button>
    <div class="Rectangle11"></div>
    <div class="Rectangle12"></div>
  </div>
</ion-content>
